* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------- ELEMENT SELECTORS OR GLOBAL STYLES -------------------------- */
body {
  font-family: "Poppins", sans-serif;
}

/* ---------------------------------- HERO SECTION ------------------------------------- */
.header {
  height: 100vh;
  background-image: url(../pexels-miguel-á-padriñán-1591060.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}

.header_image {
  display: none;
}

.header_brand {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 48px;
}

.header_brand_span {
  color: #336cff;
}

.nav-pic img{
display: flex;
height:100px;
width: 100px;
border-radius: 50%;
border-style:double;
color: #336cff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3% 7%;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.header-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.header-text h1 {
  /* padding: 5px 0; */
  font-size: 70px;
}

.header-text--2 {
  display: none;
}

.header-text h2 {
  text-align: center;
  font-size: 34px;
}

/* ---------------------------------- ABOUT ME SECTION -------------------------------- */
.about {
  background-color: #4e4c4c;
  height: 80vh;
}

.about-img {
  display: none;
}

.about_text {
  color: #fff;
  margin: auto;
  text-align: center;
  width: 50%;
}

.about_text h2 {
  font-size: 60px;
  padding-top: 6rem;
}

.about_text p {
  padding-top: 2rem;
  line-height: 1.8rem;
}
.about_skills {
  display: flex;
  width: 50%;
  color: #fff;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction:row ; */
  margin: auto;
  padding-top: 3%;
}

.about_skills h3 {
  padding-right: 5%;
}

.about_skills_h3--1 {
  border-bottom: 3px solid #fff;
  width: 7%;
  margin-right: 50px;
}

/* -------------------------------- MY PORFOLIO SECTION ------------------------------- */
.portfolio {
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  font-size: 60px;
  background-color: #8d7f7f;
  height: 150vh;
}

.portfolio_container {
  display: grid;
  padding: 5%;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-top: 50px;
  grid-gap: 40px;
}

.portfolio h2 {
  margin-top: 1%;
  font-size: 60px;
  color: #ffff;
}

.portfolio_img {
  border-radius: 10px;
  position: relative;
}
.portfolio_img img {
  width: 100%;
  object-fit: cover;
  height: 400px;
  border-radius: 10px;
}

.portfolio_btn {
  background-color: #3385ff;
  color: #fff;
  height: 84px;
  width: 287px;
  text-decoration: none;
  padding: 0.5% 1%;
  border-radius: 10px;
}

.portfolio_btn:hover {
  color: blueviolet;
}
/* ---------------------------------- CONTACT SECTION -------------------------------- */
.contact {
  background-color: #434d52;
  height: 100vh;
  margin-top: 0;
  padding:40px;
  position: relative;
}

.contact_row {
  display: flex;
  flex-direction: row;
}
.contact h2 {
  font-size: 60px;
  color: #fff;
}
.contact-left {
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #3385ff;
  margin-right: 15px;
  font-size: 20px;
}

.contact-left_icons {
  margin-top: 15px;
}

.contact-left_icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #fff;
  display: inline-block;
}

.contact-left_icons a:hover {
  color: crimson;
  transform: translateY(-5px);
}

.contact_btn--1 {
  display: block;
  margin: 50px auto;
  border: 1px solid #336cff;
  padding: 14px 50px;
  border-radius: 6px;
  color: aquamarine;
  text-decoration: none;
  width: fit-content;
}

.contact_btn--2 {
  display: block;
  /* margin: 50px; */
  border: 1px solid #336cff;
  padding: 14px 50px;
  border-radius: 6px;
  font-weight: 700;
  color: #434d52;
  text-decoration: none;
  width: fit-content;
}

.contact_btn--1:hover,
.contact_btn--2:hover {
  background-color: coral;
}

.contact-right {
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #1a82b6;
  padding: 15px;
  margin: 15px 0;
  font-size: 18px;
  color: #fff;
  border: 6px;
}
footer p {
  text-align: center;
  font-weight: 500;
  padding: 20px 0;
  height: fit-content;
  background-color: #141414;
  color: #fff;
}
/* ************************************** FOOTER SECTION ***************************** */

/* --------------------------------------- MEDIA QUERIES ----------------------------- */
@media only screen and (max-width: 600px) {
  .header {
    background-image: none;
    background-color: #4e4c4c;
    height: 194;
    width: 192;
  }

  .header_image {
    display: block;
  }

  .header_image img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .header-text {
    display: none;
  }

  .header-text--2{
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .header-text--2 h2{
    font-size: 20px;
    font-weight: 200;
    line-height: 1.8;
  }

  .header-text--2 span {
    color: #336cff;
  }
  .nav-pic{
    display: none;
  }
}

/* --------------------------------------- ABOUT SECTION ----------------------------- */
@media only screen and (max-width: 600px) {
  .about {
    padding-top: 10%;
    height: 150vh;
  }

  .about-img {
    display: block;
    text-align: center;
    padding: 0 3% 5% 0;
  }

  .about-img img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    transition-delay: 0.01s;
  }

  .about-img img:hover {
    transform: translate(-5px, -10px);
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(243, 208, 208, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(243, 208, 208, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(243, 208, 208, 0.75);
  }

  .about_text{
    /* color: #fff;
    margin:auto;
    text-align: center; */
    width:80%;
    
}

.about_text h2{
    font-size: 50px ;
    padding-top: 0;
}

.about_text p{
  text-align: left;
}

.about_content{

  color: white;
}

.about_content p{
margin: 5% auto;
margin-left: 10%;
}

.about_para--1{
  color: #336cff;
}
  /* 
    
    
    
    .about_skills{
        display: flex;
        width: 50%;
        color: #fff;
        justify-content: center;
        margin: auto;
        padding-top: 3%;
    }
    
    .about_skills h3{
        padding-right: 5%;
    }
    
    .about_skills_h3--1{
        border-bottom: 3px solid #fff;
        width: 7%;
        margin-right: 50px;
    } */
}
/* --------------------------------------- PORTFOLIO SECTION ------------------------- */
/* @media only screen and (max-width: 600px){
    
} */
/* --------------------------------------- CONTACT SECTION ----------------------------- */
/* @media only screen and (max-width: 600px){
    
} */

/* --------------------------------------- FOOTER SECTION ----------------------------- */
